body{
    font-family:Georgia, Times, 'Times New Roman', serif;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-add{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-left: 10px;
    background-color: rgba(13, 192, 13,0.477);
    color: #fff;
    border-radius: 6px 6px 0 0;
}
.todo input{
    border: 1px solid rgb(204, 204, 204);
}
.todo label {
    font-size: 1.2rem;
    font-weight: 500;
}
.todo form *{
    padding: 5px 18px;
    align-items: center;
}
.todo{
    margin-bottom: 30px;
}
.todo-container{
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 010px rgba(204,204,204,0.2);
    border-radius: 12px;
}
.lists-container{
    width: 85%;
    background-color: #fff;
    box-shadow: 0 0 010px rgba(204,204,204,0.3);
    margin-top: 20px;
    border-radius: 12px ;
}
.list-container{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding-left:20px;
    border-top: 1px solid rgba(204,204,204,0.7);
    border-radius: 5px;
}
.list-container span{
    cursor: pointer;
}
.delete{
    color: rgba(255, 0, 0,0.876);
}
.checkedbox{
    text-decoration:line-through;
}